@media (min-width: 993px){
    .main-banner .content-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 420px;
    }
}
@media (max-width: 993px) {
    .main-banner .content-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    .main-banner .content-wrapper .content .title {
        font-size: 30px;
        line-height: 33px;
    }
    .main-banner .content-wrapper .content .text {
        font-size: 14px;
        line-height: 20px;
    }
    .popup{
        top: 20% !important;
    }
    .header-mobile{
        display: block !important;
        z-index: 2;
    }
    .order-new-first{
        order: -1 !important;
    }
    .order-new-last{
        order: 1 !important;
    }
    .header-menu{
        background-color:rgba(69, 146, 127, 0.9) !important;
    }
    .btn-mobile{
        color: rgba(69, 146, 127, 0.9);
        margin-top: 40px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        display: block;
    }
    .header-menu{
        left: -100%;
        position: fixed;
        top: 75px;
        width: 100%;
        height: 100vh;
        padding: 20px 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color:rgba(69, 146, 127, 0.9);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: 0.7s all;
        transition: 0.7s all;
        z-index: 1;
        overflow-y: hidden;
    }
    .header-menu{
        .menu{
            display: block !important;
            .menu-item{
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                padding: 10px 0px;

            }
        }
    }
    .main-slider .left-part .title {
        font-size: 29px !important;
        line-height: 35px !important;
    }
    .main-slider .left-part {
        padding: 35px 45px !important;
    }
    .main-slider .left-part li .text {
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .main-slider .left-part .price {
        margin-top: 20px !important;
        font-size: 17px !important;
        line-height: 20px !important;
    }
    .main-slider .right-part img {
        height: 100%;
    }
    .main-slider {
        padding: 70px 0px;
    }
    .footer-menu {
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-direction: column;
        .menu{
            padding-left: 0px;
            margin-top: 20px;
            font-size: 15px;
        }
        .social-link{
            margin-top: 20px;
            img{
                margin-right: 10px;
            }
        }
    }
}
@media (min-width: 993px) {
    .header-desktop{
        display: block !important;
    }
}
@media (max-width: 768px) {
    .main-banner .content-wrapper {
        width: 100%;
        padding: 35px 18px;
    }
    .main-slider .right-part .triangle-block {
        left: -1px !important;
    }
}
@media (max-width: 578px) {
    .main-slider .left-part {
        padding: 15px 15px !important;
    }
    .main-slider .left-part .title {
        font-size: 18px !important;
        line-height: 21px !important;
    }
    .main-slider .left-part ul {
        margin-top: 12px;
    }
    .main-slider .left-part .price {
        margin-top: 16px !important;
        font-size: 14px !important;
    }
    .main-slider .left-part li .text {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .main-slider .left-part .price span {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .main-slider {
        padding: 40px 0px;
    }
    .footer-menu{
        padding: 0px 15px;
    }
    .footer-menu .menu {
        display: block !important;
    }
    .footer-menu .menu li {
        padding-bottom: 8px;
    }
}
@media (max-width: 450px) {
    .col-visible{
        width: 100%;
    }
    .right-part{
        display: none;
    }
    .main-slider .left-part {
        padding: 18px 24px !important;
    }
    .main-banner{
        .row{
            margin:0px;
        }
    }
}

